# Filetypes
*.f
*.f90
*.40

# Plots and Outputs
*.dat
*.png
*.root
*.svg

# Binaries
*.o
*.out

# OS stuff
.DS_Store

# Python environment and cache
/.venv
__pycache__

# Snakemake
/.snakemake
.snakemake_timestamp

# Other folders
/dimeMC
/logs